<header class="text-center tops">
  <h1>About InstagramClone</h1>
  <p>
    In addition to posting photos and videos taken with smartphones,<br>
    you can follow other users and view posts on the timeline.
  </p>
</header>